<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="techfood" value="https://nuget.pkg.github.com/TechChallenge-Team/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <techfood>
      <add key="Username" value="Phviana" />
      <add key="ClearTextPassword" value="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" />
    </techfood>
  </packageSourceCredentials>
</configuration>
